In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
school_path = os.path.join("Resources", "schools_complete.csv")
student_path = os.path.join("Resources", "students_complete.csv")

In [3]:
school_data = pd.read_csv(school_path)
student_data = pd.read_csv(student_path)
school_data_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary


* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
#Total Schools
total_schools = school_data_df["school_name"].nunique()

#Total Students
total_students = int(school_data_df.groupby("school_name").median().sum()[4])

#Total Budget
total_budget = school_data_df.groupby("school_name").median().sum()[5]


#Average Math Score
math_average = school_data_df["math_score"].mean()

#Average Reading Score
reading_average = school_data_df["reading_score"].mean()

#Percent Passing Math
passing_math = school_data_df.loc[school_data_df["math_score"] >= 70]
passing_math["math_score"].count()


passing_math_percent = passing_math["math_score"].count()/total_students

#Percent Passing Reading
passing_reading = school_data_df.loc[school_data_df["reading_score"] >= 70]
passing_reading["reading_score"].count()


passing_reading_percent = passing_reading["reading_score"].count()/total_students

overall_passing = (passing_math_percent + passing_reading_percent)/2

district_data = [[total_schools, total_students, total_budget,  math_average, reading_average, passing_math_percent, passing_reading_percent ,overall_passing]]
district_summary_df = pd.DataFrame(district_data, columns =["Total Schools",
                      "Total Students",
                      "Total Budget",
                      "Average Math Score",
                      "Average Reading Score",
                      "Passing Math",
                      "Passing Reading",
                      "Overall Passing Rate"])


district_summary_df.style.format(
    {
        "Total Students": "{:,}",
        "Total Budget":"${0:,.2f}",
        "Passing Math": "{:.2%}",
        "Passing Reading": "{:.2%}", 
        "Overall Passing Rate": "{:.2%}"
    })

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [5]:
#School Type
school_type = school_data.set_index("school_name")["type"]

#Total Students
total_students = school_data_df.groupby("school_name")["Student ID"].count()

#School Budget
school_budget = school_data.set_index("school_name")["budget"]

#Per Student Budget
budget_per_student = school_data.set_index("school_name")["budget"] / school_data_df.groupby("school_name")["Student ID"].count()

#Average Math Score
avg_math_score = school_data_df.groupby("school_name")["math_score"].mean()

#Average Reading Score
avg_reading_score = school_data_df.groupby("school_name")["reading_score"].mean()

#Percent Passing Math
per_passing_math = school_data_df[school_data_df["math_score"] >=70].groupby("school_name")["Student ID"].count() / total_students

#Percent Passing Reading
per_passing_reading = school_data_df[school_data_df["reading_score"] >=70].groupby("school_name")["Student ID"].count() / total_students

#Overall Passing Rate
overall_passing_rate = (per_passing_math + per_passing_reading)/2

school_summary = pd.DataFrame({
    "School Type": school_type,
    "Total Students": total_students,
    "School Budget": school_budget,
    "Per Student Budget": budget_per_student,
    "Average Math Score": avg_math_score,
    "Average Reading Score": avg_reading_score,
    "Passing Math":per_passing_math,
    "Passing Reading":per_passing_reading,
    "Overall Passing Rate": overall_passing_rate
  
})

school_summary.style.format(
    {
        "Total Students": "{:,}",
        "School Budget":"${0:,.2f}",
        "Per Student Budget": "${0:,.2f}",
        "Passing Math": "{:.2%}",
        "Passing Reading": "{:.2%}", 
        "Overall Passing Rate": "{:.2%}"
    })

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [6]:
school_summary.sort_values("Overall Passing Rate", ascending = False).head().style.format(
    {
        "Total Students": "{:,}",
        "School Budget":"${0:,.2f}",
        "Per Student Budget": "${0:,.2f}",
        "Passing Math": "{:.2%}",
        "Passing Reading": "{:.2%}", 
        "Overall Passing Rate": "{:.2%}"
    })

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [7]:
school_summary.sort_values("Overall Passing Rate", ascending = True).head().style.format(
    {
         "Total Students": "{:,}",
        "School Budget":"${0:,.2f}",
        "Per Student Budget": "${0:,.2f}",
        "Passing Math": "{:.2%}",
        "Passing Reading": "{:.2%}", 
        "Overall Passing Rate": "{:.2%}"
    })

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe

In [8]:
ninth = school_data_df.loc[school_data_df["grade"] == "9th"].groupby("school_name")["math_score"].mean()
tenth = school_data_df.loc[school_data_df["grade"] == "10th"].groupby("school_name")["math_score"].mean()
eleventh = school_data_df.loc[school_data_df["grade"] == "11th"].groupby("school_name")["math_score"].mean()
twelth = school_data_df.loc[school_data_df["grade"] == "12th"].groupby("school_name")["math_score"].mean()

In [9]:
grade_math_summary_df = pd.DataFrame({"9th": ninth,
                               "10th": tenth,
                               "11th": eleventh,
                               "12th": twelth}).style.format('{0:,.2f}')

In [10]:
grade_math_summary_df

## Reading Scores by Grade

* Perform the same operations as above for reading scores

In [11]:
ninth = school_data_df.loc[school_data_df["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
tenth = school_data_df.loc[school_data_df["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
eleventh = school_data_df.loc[school_data_df["grade"] == "11th"].groupby("school_name")["reading_score"].mean()
twelth = school_data_df.loc[school_data_df["grade"] == "12th"].groupby("school_name")["reading_score"].mean()

In [12]:
grade_reading_summary_df = pd.DataFrame({"9th": ninth,
                               "10th": tenth,
                               "11th": eleventh,
                               "12th": twelth}).style.format('{0:,.2f}')

In [13]:
grade_reading_summary_df

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [14]:
bins = [0, 585, 615, 645, 675]
labels = ["<$585", "$585-615", "$615-645", "$645-675"]
school_summary["Spending Ranges"] = pd.cut(school_summary["Per Student Budget"], bins= bins, labels = labels)

In [15]:
school_summary.groupby("Spending Ranges").mean()\
        .drop(columns = ["Total Students", "School Budget", "Per Student Budget"])\
        .style.format({"Passing Math": "{:.2%}",
                        "Passing Reading": "{:.2%}", 
                        "Overall Passing Rate": "{:.2%}"
    })

## Scores by School Size

* Perform the same operations as above, based on school size.

In [16]:
size_bins = [0, 1000, 2000, 3000, 4000, 5000]
group_names = ["Small (<1000)","Small/Medium (1000-2000)", "Medium (2000-3000)", "Medium/Large (3000-4000)", "Large (4000-5000)"]
school_summary["Spending Ranges"] = pd.cut(school_summary["Total Students"], bins= size_bins, labels = group_names)

In [17]:
school_summary.groupby("Spending Ranges").mean()\
        .drop(columns = ["Total Students", "School Budget", "Per Student Budget"])\
        .style.format({"Passing Math": "{:.2%}",
                        "Passing Reading": "{:.2%}", 
                        "Overall Passing Rate": "{:.2%}"
    })

## Scores by School Type

* Perform the same operations as above, based on school type.

In [18]:
school_summary.groupby("School Type").mean()\
        .drop(columns = ["Total Students", "School Budget", "Per Student Budget"])\
        .style.format({"Passing Math": "{:.2%}",
                        "Passing Reading": "{:.2%}", 
                        "Overall Passing Rate": "{:.2%}"
    })

## Analysis

* Based on the data of the top and bottom perfroming school, district schools have a lower overall passing rate than charter schools.
* The table of Scores by the amount spent per student shows that the more the school allocated to each student the overall pass rating decreased. This data is very interesting because I thought as the more money invested per student the more resources a student would theoretically get giving them a better opportunity for passing. 
* As the school size increases the trend shows that the pass rating decreases. If a parent was looking at this data they would want to enroll their child in a school with less than 2000 students to give their child the best opportunity for passing reading and math.